<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/x-icon" href="https://cdn.bsharex.xyz/bshare-icons-circle/favicon.ico">
<title>BShare - <%= DB_RESPONSE.originalname %></title>

<% if(MEDIATYPE === 'image'){ %>
<!-- <img> -->
<meta property="og:image" content="<% S3_RESPONSE.url %>" />
<meta property="og:image:type" content="<%= DB_RESPONSE.mimetype %>" />
<meta property="og:image:width" content="1280" />
<meta property="og:image:height" content="720" />
<!-- </img> -->
<% } %>

<% if (MEDIATYPE === 'video'){ %>
<!-- <video> -->
<link href="/public/style/video-js.css" rel="stylesheet" />
<link href="/public/style/video-js-custom.css" rel="stylesheet"/>
<!-- </video> -->
<% } %>

<link rel="stylesheet" href="/public/style/bootstrap.min.css" integrity="sha256-djO3wMl9GeaC/u6K+ic4Uj/LKhRUSlUFcsruzS7v5ms= sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC sha512-usVBAd66/NpVNfBge19gws2j6JZinnca12rAe2l+d+QkLU9fiG02O1X8Q6hepIpr/EYKZvKx/I9WsnujJuOmBA==" crossorigin="anonymous">
<link href="/public/style/default.css" rel="stylesheet"/>

