<nav class="navbar navbar-light shadow-lg" style="background-color: var(--bs-gray-900)">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://global-cdn.b-cdn.net/bshare-icons-circle/android-chrome-512x512.png" alt="" width="24" height="24" class="d-inline-block align-text-top">
            <span class="text-light">BShareX</span>
        </a>
    </div>
</nav>