.vjs-share__middle, .vjs-share__title {
    display: none;
}

.video-js .vjs-control-bar {
    background-color: transparent !important;
}

.video-js .vjs-play-progress {
    background-color: red !important;
}