<div class="col-sm-12 col-md-6 col-lg-8">
    <div class="card shadow-lg" style="background-color: var(--bs-gray-200)">

    <img src="<%= S3_RESPONSE.url.replace('bsharex-xyz.s3.nl-ams.scw.cloud', 'image.bsharex.xyz'); %>" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text text-light"><%= DB_RESPONSE.originalname %></p>
        </div>
    </div>
</div>